.WorkContainer {
  max-width: 1800px;
  width: 100vw;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin: auto;
}
.WorkContainer div h1 {
  font-size: 3.5rem;
  font-weight: bolder;
  opacity: 0.8;
}
.WorkContainer .WorkArea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.WorkContainer .WorkArea .Work {
  margin: 40px;
}

@media (max-width: 767px) {
  .WorkContainer div h1 {
    font-size: 2.5rem;
  }
}
