.PriceContainer {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.PriceContainer div {
  width: 90%;
}

.PriceContainer img {
  width: 800px;
  margin-bottom: 4rem;
}
