.PriceContainer {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.PriceContainer div {
  width: 90%;
}

.PriceContainer img {
  width: 800px;
  margin-bottom: 4rem;
}

@media (max-width: 1000px) {
  .PriceContainer img {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .PriceContainer {
    font-size: 4.5vw;
  }
}
